<div id="previous-post" class="post-navigation-item">
    <p class="post-navigation-label">Previous</p>
    <a id="previous-post-link" href="{{ previous_post_url }}">{{ previous_post_title }}</a>
    <p id="previous-post-date" class="post-navigation-date">{{ previous_post_date }}</p>
</div>

<div id="next-post" class="post-navigation-item">
    <p class="post-navigation-label">Next</p>
    <a id="next-post-link" href="{{ next_post_url }}">{{ next_post_title }}</a>
    <p id="next-post-date" class="post-navigation-date">{{ next_post_date }}</p>
</div>